body {
  background-color: rgb(40, 40, 40);
  color: white;
}

.container {
  font-family: sans-serif;
  margin: auto;
  max-width: 800px;
}

.site-title {
  color: NavajoWhite;
  font-family: "Architects Daughter";
  font-size: 3rem;
  margin: 3rem 0 2rem 0;
  text-transform: uppercase;
}

.heading {
  border-bottom: 2px solid rgb(175, 175, 175);
  color: LightSkyBlue;
  font-family: "Architects Daughter";
  margin: 2rem 0 0 0;
  padding: 15px 0px;
  text-transform: capitalize;
}

.nav-links {
  display: flex;
  font-family: "Cairo";
  font-size: 1.5rem;
  list-style: none;
  padding-left: 0;
}

.nav-link-item {
  padding-right: 2rem;
}

.nav-link-item-last {
  padding-right: 0;
}

.nav-link-text {
  color: rgb(175, 175, 175);
  text-decoration: none;
}

.active-nav-link-text {
  color: white;
}

.section {
  color: white;
  font-family: "Cairo";
}

@media (max-width: 800px) {
  .site-title {
    font-size: 2.4rem;
  }

  .nav-links {
    font-size: 1.2rem;
  }

  .nav-link-item {
    padding-right: 1.7rem;
  }
}
